# ignore everything by default
*

# set filenames to add
!config
!*.conf
!settings.(json|xml|ini)

# add dirs containing wanted files
!.bin/
!.bin/*
!.config/
!.config/i3/
!.config/i3/*
!.config/polybar/
!.config/polybar/*
!.ncmpcpp/

# add misc dotfiles
!.Xresources
!.bashrc
!.fehbg
!.profile
!.xinitrc
!.gitignore
