# ignore everything by default
*

# add dirs containing configs
!.config/
!.ncmpcpp/

# set filenames to add
!config
!*.conf
!settings.(json|xml|ini)
!*.sh

# add scripts in .bin
!.bin/*

# add misc dotfiles
!.Xresources
!.bashrc
!.fehbg
!.profile
!.xinitrc
!.gitignore
